<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amaan Ahmed</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/line-awesome.min.css">
    <link rel="stylesheet" href="../static/css/portfolio.css">
    <style>
        .theme{
            position:absolute;
            left:92%;
            top:10%;
        }
        
        #home{
           
            background: #01171b;
          
        }

      
      
    </style>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">
    <!--Nav bar-->
    <nav id="navbarid" class="navbar navbar-expand-lg navbar-dark fixed-top" data-aos="fade-up" data-aos-delay="200">
        <div class="container flex-lg-column">
            <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                <span class="h3 fw-bold d-block d-lg-none">AMAAN AHMED</span>
                <img src="../static/images/profile2.png" class="d-none d-lg-block rounded-circle" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto flex-lg-column text-lg-center pt-4">

                    <li class="nav-item" data-aos="fade-up" data-aos-delay="300">
                        <a class="nav-link" href="#home">Home</a>
                    </li>


                    <li class="nav-item" data-aos="fade-up" data-aos-delay="400">
                        <a class="nav-link" href="#services">Services</a>
                    </li>


                    <li class="nav-item" data-aos="fade-up" data-aos-delay="500">
                        <a class="nav-link" href="#work">Work</a>
                    </li>

                    <li class="nav-item" data-aos="fade-up" data-aos-delay="600">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item" data-aos="fade-up" data-aos-delay="600">
                        <a class="nav-link" href="#language">Languages</a>
                    </li>




                </ul>
            </div>
        </div>
    </nav>

    <!--close Nav bar-->
   

    <!-- content wrapper-->
    <div id="content-wrapper">
      
        <!-- home-->
        <section id="home" class="full-height  px-lg-5">
          
            <div class="container">
                <div class="theme">
                    <button id="themeBtn"><i class="las la-moon fs-3"></i></button>
                </div>
              
                <div class="row">
                   
                   
                    <div class="col-lg-12">
                       
                 
                        <h1  class="display-4 fw-bold head" data-aos="fade-up"><span class="white">I'M AN</span> <span  class="text-brand head">ANDROID MOBILE
                                APP DEVELOPER</span> <span class="white">| |</span> <span   class="text-brand head">WEB DEVELOPER</span> <span class="white">| |</span> <span
                                class="text-brand head">UI/UX DESIGNER</span> <span class="white">FROM KANDY, SRILANKA</span></h1>
                        <p   class="lead mt-2 mb-4 " data-aos="fade-up" data-aos-delay="300">I am Amaan Ahmed, And I am a
                            "Passionate Android mobile app developer, proficient web developer, and skilled UI/UX
                            designer dedicated to creating intuitive, visually appealing, and high-performing digital
                            experiences. With a blend of technical expertise and creative flair, I specialize in
                            crafting innovative solutions that engage users and drive results."</p>


                        <div data-aos="fade-up" data-aos-delay="600">
                            <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                            <a href="tel:+94722176329" id="downloadLink" target="_blank" class="link-custom">Call :
                                +94722176329</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //home-->

        <!--Services-->
        <section id="services" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">SERVICES</h6>
                        <h1>Services That I Provide</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mt-3 serve" data-aos="fade-up">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-feather"></i>

                            </div>
                            <h5 class="mt-4 mb-2">Web Designing</h5>
                            <p>Transforming ideas into captivating online experiences. Our web design service combines
                                creativity
                                and functionality to craft visually stunning and user-friendly websites tailored to your
                                needs.</p>
                            <a href="#contact" class="link-custom">Contact Us</a>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 serve" data-aos="fade-up" data-aos-delay="300">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-pencil-ruler"></i>

                            </div>
                            <h5 class="mt-4 mb-2">Java Programming</h5>
                            <p>Elevating projects with our Java mastery. We specialize in developing efficient, scalable
                                solutions
                                tailored to your unique requirements, ensuring optimal performance and functionality
                            </p>
                            <a href="#contact" class="link-custom">Contact Us</a>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 serve" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-feather"></i>

                            </div>
                            <h5 class="mt-4 mb-2"> Android Mobile App Developer</h5>
                            <p>Specializing in Android app development, we leverage cutting-edge technologies to create
                                intuitive and engaging mobile experiences.
                                From concept to launch, we're dedicated to bringing your vision to life</p>
                            <a href="#contact" class="link-custom">Contact Us</a>
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 serve" data-aos="fade-up" data-aos-delay="900">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-feather"></i>

                            </div>
                            <h5 class="mt-4 mb-2"> UI/UX DESIGN</h5>
                            <p>"Crafting intuitive and visually engaging interfaces is our forte. We specialize in
                                user-centric design to create seamless experiences that captivate and delight audiences
                            </p>
                            <a href="#contact" class="link-custom">Contact Us</a>
                        </div>
                    </div>
                </div>


            </div>

        </section>
        <!-- //services-->


        <!--work-->

        <section id="work" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8 ">
                        <h6 class="text-brand">WORK</h6>
                        <h1>My Recent Projects</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/alarmclock.png" alt="">
                            </div>

                            <div class="card-custom-content p-4">
                                <h4>Alarm Clock App</h4>
                                <p>In this project, I delved deeper into Android app development, where I crafted a
                                    feature-rich alarm clock application designed to enhance users' mornings</p>
                                <a href="https://github.com/AmanAhmed12/codsoft_Android_App" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/quoteApp.png" alt="">
                            </div>

                            <div class="card-custom-content p-4">
                                <h4>Quote Of The Day App</h4>
                                <p>In this project, I delved into the world of Android app development, where I crafted
                                    a simple yet impactful application that delivers daily doses of inspiration</p>
                                <a href="https://github.com/AmanAhmed12/codsoft_Android_App" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/quiz.png" alt="">
                            </div>

                            <div class="card-custom-content p-4">
                                <h4>Quiz Management System</h4>
                                <p>This project allowed me to dive into the world of Java development and database
                                    management,
                                    where I built a comprehensive system for managing online quizzes efficiently</p>
                                <a href="https://github.com/AmanAhmed12/Intern_Army_Intern/" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/oop.png" alt="">
                            </div>

                            <div class="card-custom-content p-4">
                                <h4>Apple I-Store</h4>
                                <p>This application is a testament to the power of dedication, learning, and pushing
                                    boundaries.
                                    Utilizing the MVC (Model-View-Controller) model and implemented in Java</p>
                                <a href="https://github.com/AmanAhmed12/apple-store" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/lms.png" alt="">
                            </div>

                            <div class="card-custom-content p-4 gy-4">
                                <h4>Library Management System</h4>
                                <p>In this project, I had the opportunity to apply my Java programming skills to develop
                                    a comprehensive system for managing library resources efficiently</p>
                                <a href="https://github.com/AmanAhmed12/Intern_Army_Intern/" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/randomGame.png" alt="">
                            </div>

                            <div class="card-custom-content p-4 gy-4">
                                <h4>Random Number Game</h4>
                                <p>Introducing the Random Number Game project—a culmination of learning and coding
                                    expertise. Dive into the world of randomness and skill, crafted with precision and
                                    enthusiasm</p>
                                <a href="https://github.com/AmanAhmed12/CODSOFT" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/currencyConverter.png" alt="">
                            </div>

                            <div class="card-custom-content p-4 gy-4">
                                <h4>Currency Converter</h4>
                                <p>In this task, I delved into the intricacies of currency conversion algorithms and
                                    user interface design to create a robust and user-friendly application in Java</p>
                                <a href="https://github.com/AmanAhmed12/Intern_Army_Intern/" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/bloodDonnation.png" alt="">
                            </div>

                            <div class="card-custom-content p-4 gy-4">
                                <h4>Blood-Donation Website</h4>
                                <p>Introducing our Blood Donation Website—a platform dedicated to saving lives and
                                    fostering community health. Seamlessly connect donors with recipients, promoting the
                                    noble act of giving</p>
                                <a href="https://github.com/AmanAhmed12/Blood-donation" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/passwordCrack.png" alt="">
                            </div>

                            <div class="card-custom-content p-4 gy-4">
                                <h4>Password Cracking Program</h4>
                                <p>Project includes a Python script capable of cracking passwords by generating and
                                    testing all possible combinations of characters. Utilizing itertools and string
                                    libraries,
                                    the program efficiently generates all possible password guesses based on the
                                    specified length and character set.</p>
                                <a href="https://github.com/AmanAhmed12/passwordCrack" class="link-custom"
                                    target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/workshop.jpg" alt="">
                            </div>

                            <div class="card-custom-content p-4 gy-4">
                                <h4>Hardware and Software Workshop</h4>
                                <p>Presenting our impactful initiative: the HNDIT 2021 batch project at SLIATE-Kandy—an
                                    IT workshop empowering future leaders. Through collaboration with schools, we
                                    provided hands-on IT experience,
                                    fostering community engagement and vital skill development. Gratitude to sponsors
                                    and mentors for their invaluable support</p>
                                <a href="https://drive.google.com/drive/folders/1zYN_UddIEHIOvnJu6AkTvDkfNn6RJi06?usp=drive_link"
                                    class="link-custom" target="_blank">View Code</a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        
        <!-- //work-->



        <!--About-->

        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>My Education & Experience</h1>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">
                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                        <div class="row gy-4">
                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Higher National Diploma In Information Technology</h4>
                                    <p class="text-brand mb-2">Advanced Technological Institute Kandy
                                        (2022-2024)</p>
                                    <p class="mb-0">I'm currently in my final year of pursuing my Higher National
                                        Diploma (HND), specializing in Information Technology
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Android Application Development</h4>
                                    <p class="text-brand mb-2">Great Learning Institute</p>
                                    <p class="mb-0">Successfully completed the "Android Application
                                        Development" course offered by Great Learning
                                        Institute</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4> Python Programming</h4>
                                    <p class="text-brand mb-2">University Of Moratuwa </p>
                                    <p class="mb-0">Successfully completed the "Python Programming" course offered by
                                        University of Moratuwa</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Android Mobile Application
                                        Development</h4>
                                    <p class="text-brand mb-2"> Meta</p>
                                    <p class="mb-0">Successfully completed the " Introduction to Android
                                        Mobile Application Development" course offered by
                                        Coursera which is approved by Meta</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4> python for beginners</h4>
                                    <p class="text-brand mb-2">University Of Moratuwa</p>
                                    <p class="mb-0">Successfully completed the "Python for Beginners"
                                        course offered by University Of Moratuwa and ready to Apply the skills in
                                        real-world projects,
                                        contributing to a dynamic team</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4> Web Design for Beginners</h4>
                                    <p class="text-brand mb-2">University Of Moratuwa</p>
                                    <p class="mb-0"> Successfully completed the "Web Design for Beginners"
                                        course offered by University Of Moratuwa</p>
                                </div>
                            </div>


                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Advanced Level</h4>
                                    <p class="text-brand mb-2"> Went to K/Madeena National School (2018-2020)</p>
                                    <p class="mb-0">Commerce Stream -: Accountancy business studies and Information
                                        Technology.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experience</h3>
                        <div class="row gy-4">
                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>JAVA Progarmming Intern</h4>
                                    <p class="text-brand mb-2">CodSoft</p>
                                    <p class="mb-0"> Successfully completed Java Programming Internship
                                        at CodSoft and ready to Apply the skills in real-world projects,
                                        contributing to a dynamic team</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Android Application Development Intern</h4>
                                    <p class="text-brand mb-2"> CodSoft</p>
                                    <p class="mb-0"> Successfully completed the
                                        program Internship.Applied skills in
                                        real-world projects, contributing to a dynamic team</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4> JAVA Development Internship</h4>
                                    <p class="text-brand mb-2">Tech_OctaNet Services Pvt Ltd</p>
                                    <p class="mb-0"> Actively immersed in a Java Development Internship at
                                        Tech_OctaNet Services Pvt Ltd</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Java Programming
                                        Internship </h4>
                                    <p class="text-brand mb-2">CODEALPHA</p>
                                    <p class="mb-0">Actively immersed in a Java Programming Internship offered by
                                        CODEALPHA, seamlessly applying
                                        skills to real-world projects and contributing to our
                                        vibrant team</p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Java Internship</h4>
                                    <p class="text-brand mb-2">Intern Army pvt.Ltd</p>
                                    <p class="mb-0"> Successfully completed the Java intership offered by Intern Army
                                        Pvt.Ltd and ready to Apply the skills in real-world projects,
                                        contributing to a dynamic team

                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Java Development</h4>
                                    <p class="text-brand mb-2">OASIS INFOBYTE</p>
                                    <p class="mb-0">Actively immersed in a Java Development Internship offered by
                                        OASIS INFOBYTE

                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- //About-->



        <!--language-->
        <section id="language" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8 ">
                        <h6 class="text-brand">Languages</h6>


                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">
                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Language Proficiency</h3>
                        <div class="row gy-4">
                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">English</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 97%">97%</div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">Sinhala</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 85%">85%</div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">Tamil</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 97%">97%</div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Programming Language Proficiency</h3>
                        <div class="row gy-4">
                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">JAVA</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 90%">90%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">HTML</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 90%">90%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">CSS</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 80%">80%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">BOOTSTRAP</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 80%">80%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">JAVASCRIPT</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 80%">80%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">PHP</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 70%">70%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">C#</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 80%">80%</div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="col-lg-8 ">
                                    <h6 class="text-brand">PYTHON</h6>
                                    <div class="progress" role="progressbar" aria-label="Example with label"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-base" style="width: 40%">40%</div>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>



                <div class="row pb-4 " data-aos="fade-up">

                </div>


                <div class="row pb-4 " data-aos="fade-up">
                    <div class="col-lg-8 ">
                        <h1>Programming Languages</h1>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4" style="height: 570px;">
                                <img class="rounded-4" src="../static/images/java.png" alt="" style="height: 570px;">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/css.png" alt="">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/html.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/boot.jpg" alt="">
                            </div>


                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/csharp.jpg" alt="">
                            </div>

                        </div>
                    </div>


                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/js.jpg" alt="">
                            </div>

                        </div>
                    </div>



                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/python.jpg" alt="">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 gy-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
                                <img class="rounded-4" src="../static/images/php.png" alt="">
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!--//language-->


      




        <!--footer-->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div id="foot" class="col-auto">
                        <p class="mb-8">© Amaan Ahmed 2024. All Rights Reserved.</p>
                    </div>

                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/aman-ahmed-601124272/" target="_blank"><i
                                    class="lab la-linkedin"></i></a>
                            <a href="https://www.instagram.com/_______ahd8______/" target="_blank"><i
                                    class="lab la-instagram"></i></a>
                            <a href="https://www.facebook.com/amaan.hilmy?mibextid=ZbWKwL" target="_blank"><i
                                    class="lab la-facebook"></i></a>
                            <a href="https://github.com/AmanAhmed12" target="_blank"><i class="lab la-github"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- //footer-->




    </div>
    <!-- //content wrapper-->

    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/about.js"></script>
</body>

</html>